$blue: #2b77eb;

// $gray-900: #13131a;
// $gray-800: #16161f;
// $gray-700: #1c1c27;
$black-600: #201f22;
// $gray-500: #3b3b54;
// $gray-400: #7f7f98;
$black-300: #a3a3a3;
// $gray-200: #eaebed;
$black-100: #ececee;

$bg: #fcfcfc;

$white: #fff;
